/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Audiowide', cursive;
}

html, body{
  width: 100%;
}


textarea, input, button{
  border: 0;
  outline: none;
}

/* BACKGROUND DO BODY */
.background{
  width: 100vw;
  height: 100vw;
  background-color: #786D94;

  /* RETIRANDO SCROLL HORIZONTAL */
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ESCONDENDO BARRA DE ROLAGEM VERTICAL */
::-webkit-scrollbar {
   width: 0px;
   background: transparent; 
}

/* MENU, BARRA DE BUSCA E INPUT DE LOGIN */
#inicio{
  padding: 20px;
}

/* BARRA DE BUSCA E BOTÃO */
#menu-login{
  display: flex;
  gap: 1rem;
}

/* LOGO */
#menu-principal .logo{
  font-size: .9rem;
  color: rgb(5, 8, 15);
  margin-top: -5px;
}

#menu-principal .logo span{
  font-size: 1.6rem;
  color: rgb(52, 114, 250);
  text-shadow: 1px 1px 3px rgb(169, 223, 248), 0 0 1em rgb(2, 81, 252), 0 0 .5em rgb(52, 114, 250);
}

#barra-busca{
  border-radius: 5px;
  height: 20px;
}

#btn-busca{
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(117, 211, 255, 0.637);
  box-shadow: 1px 1px 10px rgb(2, 81, 252);
  font-size: 1vw;
  transition: 0.3s ease-out;
  width: 4vw;
  height: 20px;
}

#btn-busca{
  color: rgb(5, 8, 15);
  transition: 0.4s ease-in;
}
/* HOVER */
#btn-busca:hover{
  color: rgb(2, 81, 252);
  transition: 0.4s ease-in-out;
}

#btn-busca:hover{
  box-shadow: 10px 3px 15px rgb(52, 114, 250);
  background-color: rgb(169, 223, 248);
  transition: 0.3s ease-in-out;
}

/* LISTA DO MENU PRINCIPAL */

#menu-principal{
  display: flex;
  justify-content: center;
  gap: 1rem; /*ESPAÇAMENTO ENTRE OS ELEMENTOS DO NAV*/
} 


/* LISTA DE LINKS */
#menu-principal ul{
  display: flex;
  gap: .8rem; /*ESPAÇAMENTO ENTRE OS LINKS DA LISTA*/
}

#menu-principal ul li{
  transition: 0.5s ease-out;
  transform: translateX(0) scale(0.9);
}

#menu-principal ul li a{
  color: rgb(5, 8, 15);
  padding: 5px;
  font-size: 1.3vw;
  transition: 0.3s ease-out;
}

/* BOTÃO DO MOBILE */
#btn-mobile {
  display: none;
}

/* HOVER DOS LINKS DO MENU*/
#menu-principal ul li:hover{
  transition: 0.3s ease-in;
  transform: translateX(5px) scale(1.2);
}

#menu-principal ul li a:hover{
  color: rgb(47, 95, 199);
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px 3px rgb(169, 223, 248), 0 0 1em rgb(2, 81, 252), 0 0 .5em rgb(52, 114, 250);
}

/* BOTÃO DE LOGIN */
#menu-login button:nth-child(1){
  border-radius: 5px;
  background-color: rgba(117, 211, 255, 0.637);
  box-shadow: -1px 1px 10px rgb(2, 81, 252);
  transition: 0.3s ease-in-out;
  width: 90px;
  height: 20px;
}

#menu-login button:hover{
  background-color: rgb(117, 211, 255);
  box-shadow: -10px 3px 15px rgb(52, 114, 250);
  color: rgb(2, 81, 252);
  transition: 0.3s ease-out;
}

/* IMAGEM DO BANNER */
#banner1{
  position: relative;
}

#banner1 div:nth-child(2){
  position: absolute;
  top: 35%;
  right: 16%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: rgb(5, 8, 15);
}


#banner1 img{
  width: 100vw;
  opacity: .3;
  box-shadow: 2px 1px 15px rgb(80, 4, 156);
}




/* ASIDE COM PROPAGANDAS */
#comercial{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: rgb(5, 8, 15);
}

#comercial p{
  animation: go-mov 2s infinite alternate;
}


/* Keyframe DA ANIMAÇÃO DAS PROPAGANDAS */
@keyframes go-mov {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(20px);
  }
}


/* ARTICLE DO SITE */
#artigo-site{
  display: flex;
}

#artigo-site div{
  align-content: center;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s ease-out;
  transform: translateX(0) scale(0.8);
}

#artigo-site div h3{
  color: rgb(5, 8, 15);
  font-size: 1.4em;
}

#artigo-site div p{
  color: rgb(5, 8, 15);
  margin: 10px 30px;
  text-align: justify;
  line-height: 2em;
  font-size: 1.1em;
}

#artigo-site div:hover{
  background-color: rgba(150, 132, 167, 0.685);
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
  transition: 0.3s ease-in;
  transform: translateX(5px) scale(0.9);
}

#artigo-site div p:hover{
  color: rgb(2, 24, 65);
}

/* GALERIA DE IMAGENS DO CATALOGO */
#catalogo #catalogo-1{
  display: flex;
  justify-content: space-around;
}

#catalogo h2:nth-child(n + 1){
  text-align: center;
  font-size: 2em;
  color: rgb(5, 8, 15);
  padding: 10px;
  margin-bottom: 30px;
}

#catalogo figure h3{
  text-align: center;
  margin-top: 30px;
  color: rgb(5, 8, 15);
}


 #catalogo img{
  border-radius: 20px;
} 

/* PRIMEIRA COLUNA DO CATALOGO */
#catalogo #img-1{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-1:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.3s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-2{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-2:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-3{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.2s ease-in;
}

#catalogo #img-3:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

/* SEGUNDA COLUNA DO CATALOGO */
#catalogo #img-4{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-4:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.3s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-5{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-5:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-6{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.2s ease-in;
}

#catalogo #img-6:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

/* TERCEIRA COLUNA DO CATALOGO */

#catalogo #img-7{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-7:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Dandy-Ace-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.3s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-8{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.3s ease-in;
}

#catalogo #img-8:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Guns-N’-Runs-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

#catalogo #img-9{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks.jpg);
  background-size: cover;
  transform: translateX(0) scale(0.8);
  transition: 0.2s ease-in;
}

#catalogo #img-9:hover{
  width: 400px;
  height: 250px;
  background-image: url(../assets/catalogo-img/Kaze-and-the-Wild-Masks-2.jpg);
  background-size: cover;
  transform: translateX(15px) scale(1);
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
}

/* ULTIMOS ARTIGOS DA PAGINA 1 */
#ultimo-artigo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#ultimo-artigo  div{
  margin: 50px 10px;
  padding: 15px;
  border-radius: 20px;
  transition: 0.5s ease-out;
  transform: translateX(0) scale(0.8);
}

#ultimo-artigo div h3{
  color: rgb(5, 8, 15);
  font-size: 1.5em;
}

#ultimo-artigo div p{
  color: rgb(5, 8, 15);
  margin: 10px 20px;
  text-align: justify;
  line-height: 2em;
}

#ultimo-artigo div:hover{
  display: block;
  background-color: rgba(150, 132, 167, 0.685);
  box-shadow: 1px 1px 15px rgb(126, 31, 214);
  transition: 0.3s ease-in;
  transform: translateX(5px) scale(1);
}

#ultimo-artigo div p:hover{
  color: rgb(2, 24, 65);
}

/* CAIXA DE TEXTO */
#caixa-texto form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caixa-texto div h2{
  text-align: center;
  margin: 20px 10px 10px 10px;
  font-size: 1.6em;
  color: rgb(5, 8, 15);
}

#caixa-texto div p{
  text-align: center;
  margin-right: 190px;
  margin-bottom: 20px;
}

#caixa-texto textarea{
  resize: none;
  background-image: url(../assets/gif/QueBom.gif);
  background-size: contain;
  box-shadow: 1px 1px 10px rgb(126, 31, 214);
}

#caixa-texto button{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  color: rgb(5, 8, 15);
  margin-top: 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgba(117, 211, 255, 0.637);
  box-shadow: 1px 1px 10px rgb(2, 81, 252);
  transform: translateX(0) scale(0.9);
  transition: 0.4s ease-in;
}

#caixa-texto textarea:hover{
  box-shadow: -10px 3px 35px rgb(126, 31, 214);
  animation: go-text 0.3s alternate;
  animation-delay: 0.4s;
  animation-iteration-count: 2;
}
/* ANIMAÇÃO DA CAIXA DE TEXTO */
@keyframes go-text {
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(50px);
  }
  0% {
    transform: translateY(0px);
  }
}

#caixa-texto button:hover{
  background-color: rgb(117, 211, 255);
  box-shadow: -10px 3px 15px rgb(52, 114, 250);
  transform: translateX(5px) scale(1);
  transition: 0.4s ease-out;

}

/* FOOTER */
.rodape div{
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.rodape div a{
  padding: 15px;
  gap: 2rem;
  color: rgb(5, 8, 15);
}

.rodape small{
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.seta-cima span{
  display: block;
  padding: 10px;
  position: absolute;
  bottom: 3;
  left: 0;
  opacity: 0;
}

.seta-cima{
  display: block;
  margin: auto; 
  margin-right: 100px;
  margin-top: -50px;
  width: 50px;
}

/* ANIMAÇÃO DA SETA */
.rodape .seta-cima{
  animation: go-seta 0.6s infinite alternate;
}

/* ANIMAÇÃO DA SETA DE HOME */
@keyframes go-seta {
  100% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(20px);
  }
}

.rodape .seta-cima img:hover{
  border-radius: 40px;
  box-shadow: 5px 1px 15px rgb(2, 81, 252);
}

.seta-cima:hover span{
  opacity: 1;
}






/* LINHAS QUE DIVIDEM AS SEÇÕES DA PAGINA */
.linhas{
  width: 100%;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(90deg, #444242a8, #331192bb, #60149e9c, #980ee293, rgb(207, 86, 29));
  background-size: 500% 500%;

  animation: color 3s ease infinite;
}

@keyframes color{
  0%{
    background-position: 0% 25%;
  }

  50%{
    background-position: 100% 0%;
  }

  100%{
    background-position: 0% 25%;
  }
}

