*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  color: #323232;
}

body{
  height: 100%;
  overflow: hidden;
}

textarea, input{
  border: 0;
  outline: none;
}

h2{
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
  color: #301775;
}

/* BACKGROUND GRADIENTE */
.background{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, #000000, #150050, #5a1592, #7903b9);
  background-size: 400% 400%;

  animation: color 15s ease-in-out infinite;

}

@keyframes color{
  0%{
    background-position: 0% 25%;
  }

  50%{
    background-position: 100% 0%;
  }

  100%{
    background-position: 0% 25%;
  }
}

/* CONTAINER GERAL */
/* body{
  background-image: url(../assets/img/Banner1.jpeg);
  background-size: 110%;
} */

a, label{
  font-size: 0.9rem; /*16 * .8 = x */
}

a:hover{
  color: rgb(91, 91, 243);
}

/* CONTAINER LOGIN FORMATAÇÃO 1 */
/* #login-container{
  background-color: rgb(255, 255, 255);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
} */

/* CONTAINER DE LOGIN FOLRMATAÇÃO 2 */
#login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(162, 158, 196, .75);
  box-shadow: 1px 15px 25px rgba(80, 4, 156, 0.794);
  border-radius: 10px;
}

/* FORMULARIO */

form{
  margin-top: 5px;
  margin-bottom: 5px;
}

label, input{
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
}

label{
  font-weight: bold;
}

input{
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus{
  border-bottom: 2px solid rgb(4, 191, 248);
}

input:hover{
  border-bottom: 2px solid rgb(15, 235, 235);
}

#resgistrar-conta{
  text-align: right;
  display: block;
}

input[type="submit"]{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: rgb(105, 105, 241);
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: rgb(47, 47, 122);
  transition: .8s;
}



/* MEDIA RESPONSIVIDADE */
@media (max-width: 640px){
  #login-container{
    width: 90%;
  }
}



/* STILO DA TELA DE INSCRIÇÃO */
/* CONTAINER DE LOGIN FOLRMATAÇÃO 2 */
#cadastro-container{
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 32%;
  height: 100%;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(162, 158, 196, .75);
  box-shadow: -10px 1px 25px rgba(80, 4, 156, 0.794);
  border-radius: 10px;
}

#cadastro-container{
  margin-top: 65%;
}


/* FORMULARIO */

#cadastro-container form{
  margin-top: 5px;
  margin-bottom: 5px;
}

#cadastro-container label, input{
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
}

#cadastro-container label{
  font-weight: bold;
}

#cadastro-container input{
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

#cadastro-container input:focus{
  border-bottom: 2px solid rgb(4, 191, 248);
}

#cadastro-container input:hover{
  border-bottom: 2px solid rgb(15, 235, 235);
}

#radio{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#radio input{
  background: #150050;
}


#cancelar{
  text-align: right;
  display: block;
}

#cadastro-container input[type="submit"]{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
  background-color: rgb(105, 105, 241);
  cursor: pointer;
}

#cadastro-container input[type="submit"]:hover{
  background-color: rgb(47, 47, 122);
  transition: .8s;
}


/* MEDIA RESPONSIVIDADE */
@media (max-width: 640px){
  #cadastro-container{
    width: 90%;
  }
}
